:root {
    --dark-blue: #002878;
    --accent: #1d3444;
    --orange: #ff6e01;
    --bg-color: white;
}
*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}
html, body {
height: 100%;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
/* main {
    background-color: var(--bg-color);
    padding: 2rem;
    border: 1px solid var(--accent);
} */
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--dark-blue);
}
a {
    color: var(--dark-blue);
}
body {
    margin: 2rem auto;
    max-width: 800px;
    font-family: 'Source Sans Pro';
}
section {
    padding-bottom: .5em;
}
.header__intro {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-left: -40px;
}
.name {
    font-weight: 500;
}
.header__intro > img {
    display: block;
    width: min(80px, 100%);
    border-radius: 20px;
    transition: all 1s ease;
}
.header__intro > img:hover {
    width: 220px;
}
.contact-info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -1rem;
    padding: 1rem 0 2rem;
    flex-wrap: wrap;
}
.contact-info__part {
    display: flex;
    column-gap: 5px;
}
.pfp {
    width: 20%;
    border-radius: 20px;
}
ul {
    list-style: none;
}
ul li::before {
    content: "\2022";
    color: var(--orange);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
/* Sections */ 
.headline {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(78, 78, 78); 
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: var(--accent);
}
.headline > span {
    background: var(--bg-color);
    padding: 0 10px;
}

.headline__names {
    margin-top: 16px;
    font-size: 1.2rem;
    font-weight: 500;
    width: fit-content;
    font-weight: 600;
    color: var(--orange);
}
.skill__group {
    font-weight: bold;
    color: var(--orange);
}
.skills__ctr {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: .5rem;
}
.skills__ctr--skill {
    display: flex;
    gap: .25rem;
    /* display: block; */
}
@media (max-width: 825px) {
    main {
        width: 92%;
        margin: 0 auto;
    }
}

@media (max-width: 425px) {
    .header__intro {
        display: block;
        margin: 0;
        text-align: center;
    }
    .header__intro > img {
        display: none;
    }
    /* .skills__ctr {
        display: block;
    } */
    .skills__ctr--skill {
        display: block;
    }
}

@media print {
    /* HIDE UNWANTED ELEMENTS  display: none;*/

    /* Global Typography Reset 
    serif is nicer to read on paper
    pt unit for paper
    black text is neccessary
    */
    body {
        font-family: Georgia, serif; 
        background: none;
        color: #000;
        margin: 0;
    }

    a:link {
        margin: 0;
    }
    
    a::after {
        content: " ["attr(href)"]";
    }
    a:link,
    a:visited {
        color: black;
        background: none;
    }
    .contact-info {
        flex-wrap: wrap;
    }
}